body {
  margin: 0;
  padding: 0;
  font-weight: bolder;
  text-align: center;
}

#wrap {
  background-image: url("bgimage.jpg");
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  z-index: 0;
  display: relative;
  border: groove;
  background-image: url("bg.jpg");
}

h1 {
  font-family: sans-serif;
  font-size: 50px;
  text-shadow: 0px 3px 2px white;
}

#message1 {
  font-size: 35px;
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  color: white;
}

.startButton {
  width: 200px;
  padding: 15px 30px;
  margin-bottom: 5px;
  color: white;
  background-color: red;
  border: groove;
  border-width: 7px;
  border-color: salmon;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 15px;
  transition: transform 100ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.startButton:hover {
  background-color: white;
  transform: scale(1.2);
  opacity: 0.75;
  color: black;
}

@media (min-width: 768px) {
  div {
    float: center;
    width: 30%;
    margin-right: 5px;
  }
}
